
.NavbarText{
  text-transform: uppercase;
  
}

.bg-image{
  position: relative;
  min-height: 100vh;
  background: linear-gradient(rgba(8,8,8,0.3), rgba(8,8,8,0.3)), url('https://img.freepik.com/free-photo/top-view-recipe-book-still-life-concept_23-2149055992.jpg?w=2000');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.textContent{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titleContent{
  text-transform: uppercase ;
  letter-spacing: 8px;
  margin-bottom : 30px;
  color: #046752;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 65px;
}

.searchBox{
  padding-top: 100px !important;
  padding-bottom: 50px !important;
}

.headingSearch{
  font-size: 35px;
  margin-bottom: 15px;
}
.searchNote{
  color: rgb(150, 150, 150);
}
.note{
  font-style: italic;
  font-weight: 50px;
}

.recipeDesc{
  /* margin-left: 2% !important; */
  margin-top: 35px !important;
}

@media (max-width: 767px){
  .recipeDesc{
    margin-left: 6% !important;
    margin-top: 35px !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .recipeDesc{
    margin-left: 13% !important;
    margin-top: 35px !important;
  }
}

.recipeDetailContainer{
  margin-left: 5px !important;
}

.recipeDetails{
  padding-top: 100px !important;
  /* align-items: left !important; */
}

.detailsImage{
  margin-left: 70px;
}

@media (max-width: 767px){
  .detailsImage{
    margin-left: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .detailsImage{
    margin-left: 5px;
  }
}

@media (min-width: 1201px) and (max-width: 1450px) {
  .detailsImage{
    margin-left: 150px;
  }
}

p{
  font-size: 18px;
  font-weight: bold;
  color: grey;
}