
.NavbarText{
  text-transform: uppercase;
  
}

.bg-image{
  position: relative;
  min-height: 100vh;
  background: linear-gradient(rgba(8,8,8,0.3), rgba(8,8,8,0.3)), url('https://img.freepik.com/free-photo/top-view-recipe-book-still-life-concept_23-2149055992.jpg?w=2000');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.textContent{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titleContent{
  text-transform: uppercase ;
  letter-spacing: 8px;
  margin-bottom : 30px;
  color: #046752;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 65px;
}